body{
    margin: 0;
    background: #000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    font-size: 0;
    display: inline-block;
}

.item{
    display: inline-block;
    border: 5px solid #fff;
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 20px;
}

.item img{
    width: 100%;
    height: 100%;
    transition: .6s all;
    cursor: pointer;
}

.item:hover img{
    transform: scale(1.3) rotate(15deg); 
}